*, *::before, *::after { box-sizing: border-box; }

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1e293b;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
}

body { margin: 0; }

button { font-family: inherit; }
