*, *::before, *::after { box-sizing: border-box; }

:root {
  font-family: 'Inter', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #0f172a;
  background-color: #f1f5f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { margin: 0; }

button { font-family: inherit; }

a { color: inherit; text-decoration: none; }
